{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    TODO List
    <a href="{% url '#' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <p>{{ task.content }} {{ task.is_done|yesno:"Done, Not done" }}</p>
          <span>Task created: {{ task.created }}</span>
          <span>Task deadline: {{ task.deadline }}</span>
          <p>Tags: {{ task.tags }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}
